@import colors

%button-main
    background-color: $mainColor
    color: #fff
    text-transform: uppercase
    text-decoration: none
    padding: 12px 24px
    border-radius: 40px
    transition: background-color .3s
    display: flex
    align-items: center
    justify-content: center
    &:hover
        background-color: $mainColor_hover