@import colors
@import elements

.header
    &--container
    &--row
        display: grid
        grid-template-columns: repeat(5, 1fr)
        grid-template-areas: 'logo callback delivery login cart'
        padding: 12px 0
        justify-content: space-between
        @media screen and (max-width: 1024px)
            grid-template-columns: 180px repeat(4, max-content)
            grid-template-areas: 'logo callback delivery login cart'
            gap: 20px 0
        @media screen and (max-width: 780px)
            grid-template-columns: repeat(3, 1fr)
            grid-template-areas: 'logo delivery cart' 'callback . login'
            gap: 20px 0
        @media screen and (max-width: 500px)
            grid-template-columns:  repeat(2, max-content) 1fr
            grid-template-areas: 'logo logo logo' 'callback callback login' 'delivery delivery delivery' 'menu cart cart'
            gap: 20px 0
        @media screen and (max-width: 375px)
            grid-template-columns: 60px 1fr max-content
            grid-template-areas: 'logo logo logo'  'callback callback login' 'delivery delivery delivery' 'menu cart cart'
            gap: 20px 0
    &--btns
        @media screen and ( min-width: 1024px )
            display: none
        @media screen and ( max-width: 1023px )
            justify-content: center
            display: flex
        @media screen and ( max-width: 500px )
            &:not(.header--mobile)
                display: none
        .menu
            &-btn
                width: 50px
                height: 50px
                border: 1px solid $mainColor
                color: $mainColor
                font-size: 24px
                line-height: 1em
                display: flex
                align-items: center
                justify-content: center
                background-color: #fff
                grid-area: menu
                border-radius: 8px
                &:not([aria-expanded="false"])
                    background-color: $mainColor
                    color: #fff
    &--logo
        grid-area: logo
        display: flex
        align-items: center
        justify-content: flex-start
        @media screen and ( max-width: 500px )
            width: 100%
        @media screen and ( max-width: 375px )
            justify-content: center
        a
            img
                width: 100%
                max-width: 200px
    &--callback
        grid-area: callback
        display: flex
        flex-direction: column
        justify-content: center
        gap: 4px
        a
            color: $mainColor
            text-decoration: none
            font-weight: 500
            font-size: 20px
            line-height: 1em
        span
            font-size: 12px
            line-height: 1em
            color: #929292
    &--delivery
        grid-area: delivery
        .nav
            &-pills
                border: 1px solid #ccc
                display: grid
                grid-template-columns: repeat(2, 1fr)
                border-radius: 20px
                padding: 0 20px
            &-item
                text-align: center
            &-link
                width: 100%
                padding: 8px 4px
                line-height: 1em
                border: none
                border-radius: 0
                color: $mainDark
                &.active
                    border-bottom: 1px solid $mainColor
                    color: $mainColor
                    background-color: transparent
        .tab
            &-content
                padding: 0 10px
                text-align: center
                border: 1px solid #ccc
                max-width: 84%
                margin: 0 auto
                border-radius: 0 0 10px 10px
                border-top: 0
            &-pane
                font-size: 12px
                color: #797979
    &--login
        grid-area: login
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-end
        a
            color: $mainDark
            font-size: 20px
            font-weight: 300
            text-decoration: none
            width: max-content
            line-height: 1em
            display: flex
            align-items: center
            justify-content: center
            gap: 8px
            transition: 0.3s
            svg
                path
                    stroke: $mainDark
                    transition: 0.3s
            &:hover
                color: $mainColor
                svg
                    path
                        stroke: $mainColor
        &_authorization
        &_personalArea
            display: none !important
    &--cart
        grid-area: cart
        display: flex
        align-items: center
        justify-content: flex-end
        @media screen and ( max-width: 500px )
            &:not(.header--mobile)
                display: none
        &_button
            display: flex
            justify-content: flex-end
            align-items: center
            width: 100%
            max-width: 200px
            button
                border: none
                background: $mainColor
                padding: 12px 24px
                border-radius: 40px
                box-sizing: border-box
                color: #fff
                transition: background-color .3s
                text-decoration: none
                font-weight: 600
                position: relative
                display: flex
                align-items: center
                justify-content: center
                gap: 24px
                width: 100%
                @media screen and ( max-width: 375px )
                    flex-direction: row
                    gap: 4px
                &:hover
                    background-color: $mainColor_hover
                .cart
                    &--count
                        position: absolute
                        right: -8px
                        top: auto
                        bottom: auto
                        width: 28px
                        height: 28px
                        font-size: 11px
                        color: #fff
                        background-color: #D62B07
                        border: 3px solid #fff
                        border-radius: 50px
                        display: flex
                        align-items: center
                        justify-content: center
    &--navigation
        position: sticky
        top: 0
        left: 0
        right: 0
        z-index: 4
        background-color: #fff
        &_container
            display: none
            @media screen and ( max-width: 500px )
                display: grid
                grid-template-columns: 60px 1fr max-content
                grid-template-areas: "menu cart cart" "headerNav headerNav headerNav"
                padding-top: 8px
                padding-bottom: 8px
        .navbar
            position: relative
            padding: 0
            @media screen and ( max-width: 500px )
                grid-area: 'headerNav'
            &-login
            &::after
                width: 100%
                height: 2px
                background-color: #eeeeee
                content: ''
                position: absolute
                bottom: 0
                display: flex
                z-index: -1
            &-collapse
                width: 100%
                justify-content: center
                position: relative
            &-nav
                width: 100%
                justify-content: space-between
        .nav
            &-item
            &-link
                color: $mainDark
                transition: color .3s
                margin-bottom: 0
                &:hover
                    color: $mainColor_hover
                &.active
                    color: $mainColor
                    font-weight: 500
                    border-bottom: 2px solid $mainColor
    // Корзина offcanvas
.cart_side
    &-list
        display: flex
        flex-direction: column
        gap: 12px
    &-item
        position: relative
        background-color: #fff
        display: grid
        grid-template-columns: repeat(1, 1fr)
        padding: 12px
        grid-gap: 12px
        border-radius: 20px
        .item_remove
            background: none
            border: none
            width: 20px
            height: 20px
            position: absolute
            right: 12px
            top: 12px
        &_details
            display: grid
            grid-template-columns: 120px 1fr
            grid-gap: 20px
        &_preview
            width: 100%
            aspect-ratio: 1 / 1
            border-radius: 20px
            overflow: hidden
            picture
                width: 100%
            img
                width: 100%
        &_info
            display: flex
            flex-direction: column
            padding-right: 20px
            gap: 8px
            .cart_item
                &-title
                    color: $mainDark
                    font-weight: 600
                    text-decoration: none
                    font-size: 20px
                    margin-bottom: 0
                &-size
                    font-size: 12px
                    margin-bottom: 4px
                &-additionally
                    font-size: 12px
                    margin-bottom: 0
        &_price
            border-top: 1px solid transparentize($mainDark, .8)
            padding-top: 12px
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            .priceWrapper
                display: flex
                flex-direction: row
                gap: 8px
                .mainPrice
                    margin-bottom: 0
                    font-weight: 600
                    font-size: 20px
                .oldPrice
                    margin-bottom: 0
                    position: relative
                    display: flex
                    align-items: center
                    justify-content: center
                    &::after
                        position: absolute
                        content: ''
                        height: 2px
                        width: 120%
                        background-color: $mainColor
                        transform: rotate(-15deg)
                    // text-decoration: line-through
            .countWrapper
                form
                    display: flex
                    button
                        background-color: #f3f3f3
                        color: $mainDark
                        border: none
                        width: 30px
                        height: 30px
                        font-size: 14px
                        transition: color .3s, background-color .5s
                        display: flex
                        align-items: center
                        justify-content: center
                        &:hover
                            color: #fff
                            background-color: $mainColor_hover
                        &.counter_minus
                            border-radius: 40px 0 0 40px
                        &.counter_plus
                            border-radius: 0 40px 40px 0
                input[type="number"]
                    outline: none
                    border: none
                    width: 32px
                    text-align: center
                    background-color: #f3f3f3
                    &::-webkit-inner-spin-button
                        display: none
    &_upsale
        .upsale_title
            font-size: 24px
            font-weight: 600
        .swiper
            &-cart_upsale
            &-wrapper
            &-slide
        &-item
            display: flex
            flex-direction: row
            gap: 20px
            width: max-content
            border-radius: 20px
            padding: 12px
            background-color: #fff
        &-preview
            img
                width: 120px
        &-information
            min-width: 140px
            max-width: 200px
            display: flex
            flex-direction: column
            gap: 8px
            padding-right: 20px
            p.title
                font-size: 20px
                font-weight: 600
                margin-bottom: 0
                line-height: 1.2em
            .price
                font-size: 20px

    
.offcanvas
    background-color: #f3f3f7
    &-end
        border-radius: 20px 0 0 20px
        width: 100%
        max-width: 480px
    &-footer
        padding: 12px 20px
        a
            @extend %button-main